@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

:root {
    --primary-color: #3B82F6;
    --color-gray: #6B7280;
    --off-white: #E5E7EB;
    --light-gray: #E5E7EB;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

p{
    text-align: justify;
}

hr {
    margin: 2rem 0rem;
}

.quote {
    text-align: center;
    background-color: var(--light-gray);
    border-radius: 5px;
    padding: 10px;
}

.project-links {
    padding: 5px 0px;
}

/* container */
.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: 1rem auto;
}

/* links */
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* lists */

.list-project{
    padding-inline-start: 0px;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* navigation */

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 3px;
}

.navigation .link {
    color: white;
    letter-spacing: 2px;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link-active {
    font-weight: bold;
}

/* header */

.head {
    padding: 2rem;
    margin-top: 3rem;
}

.head-inverted {
    color: var(--primary-color);
}

.head .head-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.head .head-blog-img {
    max-width: 550px;
    display: block;
    margin: auto;
    padding-bottom: 0px;
}

.head .head-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--color-gray);
}

.head .head-heading .head-inverted {
    color: var(--primary-color);
}

/* sections */

.section {
    padding: 2rem;
}

.section h1{
    text-align: center;
}

.ow {
    background-color: var(--off-white);
    border-radius: 5px;
}

/* footer */

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .footer-head {
    font-weight: bold;
    font-size: large;
}

.footer .link {
    color: white;
}

.footer ul{
    padding-inline-start: 0px;
}

.margin-fix{
    margin-top: 0px;
    margin-bottom: 2rem;
}

.margin-fix h1 {
    text-align: center;
}

.hr-style {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.blog-subscribe {
    text-align: center;
    margin-right: 80px;
}

input {
    border: 2px solid var(--primary-color);
    padding: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    width: 280px;
}

button {
    position: absolute;
    color:white;
    background-color: var(--primary-color);
    padding: 8px;
    border: 2px solid var(--primary-color);
    border-left: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

